{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>
<ul>
{% for book in books %}
<li class="card">
    <div class="card-body">
        <h2 class="card-title">{{ book.title }}</h2>
        <p class="card-subtitle">by {{ book.author }}</p>
        <p class="card-text">{{ book.description }}</p>
        {% if book.in_stock %}
            <form action="{% url 'borrow_book' book.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Borrow</button>
            </form>
        {% else %}
            <form action="{% url 'return_book' book.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">Return</button>
            </form>
        {% endif %}
    </div>
</li>
{% endfor %}
</ul>
{% endblock content %}